@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 80px;
    margin-bottom: 0;
}

aside.my-aside{
    height: calc(100vh - 80px);
    padding-top: 3rem;
}

nav{
    ul{
        li a{
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
            &:hover{
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.my-container{
    height: calc(100vh - 80px);
    overflow: auto;
}

.my-show-container{
    img{
        width: 50%;
    }
}

